---
layout: page
is_index: true
---
{% include JB/setup %}

{% for post in paginator.posts %}
<div class="article"><div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div><a href="{{ post.url }}#disqus_thread" class="comment-counter" data-disqus-identifier="{% if post.wordpress_id %}{{ post.wordpress_id }} http://jsms.me/?p={{ post.wordpress_id }}{% else %}{{ post.url }}{% endif %}">No comment yet<div><div></div></div></a><div class="datetime">{{ post.date | date_to_human_string }}</div><div class="paragraph">{{ post.content }}</div></div>
{% endfor %}
<div id="discuss">
{% if paginator.next_page %}
<div class="older"><a href="/page{{ paginator.next_page }}">Older &rsaquo;</a></div>
{% else %}
<div class="older">Older &rsaquo;</div>
{% endif %}
{% if paginator.previous_page == 1 %}
<div class="newer"><a href="/">&lsaquo; Newer</a></div>
{% else %}
	{% if paginator.previous_page %}
<div class="newer"><a href="/page{{ paginator.previous_page }}">&lsaquo; Newer</a></div>
	{% else %}
<div class="newer">&lsaquo; Newer</div>
	{% endif %}
{% endif %}
</div>
