html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
 	border: 0;
	font-size: 100%;
	font: inherit;
  	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: "elena";
	src: url("/s/elena-regular.woff") format("woff");
}

body {
	background-color: #f5f4d7;
	background: url('whitey.gif');
	line-height: 1;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
 	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

a.hyper {
	color: #0a7acd;
	cursor: pointer;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
}

a.hyper:link {
	color: #0a7acd;
	cursor: pointer;
	text-decoration: none;
}

a.hyper:visited {
	color: #0a7acd;
	cursor: pointer;
	text-decoration: none;
}

a.hyper:hover {
	color: #fff;
	background-color: #0a7acd;
	cursor: pointer;
	text-decoration: none;
}

#container {
	margin: auto;
	max-width: 1170px;
}

#header {
	margin-top: 10px;
	width: 100%;
	font-size: 0.8em;
	vertical-align: middle;
	height: 18px;
	position: relative;
	overflow: hidden;
}

#footer {
	clear: both;
	padding-top: 20px;
}

#footer div {
	text-align: center;
	font-size: 0.8em;
	margin: 0px 60px 16px 60px;
	padding-top: 12px;
	color: #454545;
	border-top: 2px #ffffff dotted;
}

#footer a {
	color: #454545;
}

#header .me {
	float: right;
	margin-top: 1px;
	margin-right: 70px;
	margin-left: 25px;
}

#header .me a {
	color: #dc3400;
	cursor: pointer;
	text-decoration: none;
}

#header .me a:link,
#header .me a:visited,
#header .me a:hover {
	text-decoration: none;
}

#header .title {
	float: left;
	margin-left: 70px;
	margin-right: 15px;
	cursor: default;
}

#header .title a {
	font-size: 1.1em;
	color: #00a035;
	cursor: pointer;
	text-decoration: none;
	margin-right: 10px;
}

#header .divider {
	overflow: hidden;
}

#header .divider div {
	background: #ffffff;
	margin-top: 8px;
	height: 2px;
	width: 100%;
}

#content {
	clear: both;
	padding-top: 10px;
	padding-left: 56px;
	padding-right: 16px;
}

#content #main {
	font-family: "elena",'Open Sans','Helvetica Neue',Arial,"Hiragino Sans GB",sans-serif;
}

#content #main .lead {
	margin-top: 14px;
	font-size: 1.2em;
	color: #454545;
	margin-left: 10px;
	margin-bottom: 2px;
}

#content #main .article {
	margin-bottom: 28px;
}

#content #main .article .title {
	margin-top: 20px;
	margin-bottom: 14px;
	margin-right: 290px;
}

#content #main .article .title a {
	text-transform: capitalize;
	color: #dc3400;
	font-size: 1.5em;
	line-height: 125%;
}

#content #main .article .comment-counter {
	display: block;
	color: #000000;
	float: left;
	font-size: 1.1em;
	margin-left: 10px;
	margin-bottom: 8px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

#content #main .article .comment-counter div {
	display: inline-block;
	border-bottom: 3px #2373cd solid;
	margin-left: 4px;
	margin-top: 2px;
	height: 0.8em;
	width: 6px;
	position: relative;
}

#content #main .article .comment-counter div div {
	border: none;
	background: #2373cd;
	height: 5px;
	width: 4px;
	position: absolute;
	top: 100%;
	margin-top: -5px;
	margin-left: 1px;
}

#content #main .article .datetime {
	display: block;
	font-size: 1.2em;
	text-align: right;
	margin-right: 300px;
	margin-bottom: 8px;
	margin-top: 0.05em;
}

#content #main .article .datetime a {
	color: #000000;
}

#content #main .article .paragraph {
	clear: left;
	text-indent: 0;
	padding-top: 12px;
	font-size: 1.1em;
	line-height: 135%;
	margin-left: 20px;
	margin-right: 310px;
	text-align: left;
	-webkit-text-size-adjust: 150%;
}

#content #main .article .paragraph ol {
	list-style: decimal;
	padding-bottom: 12px;
}

#content #main .article .paragraph ol li {
	margin-left: 20px;
}

#content #main .article .paragraph ul {
	list-style: disc;
	padding-bottom: 12px;
}

#content #main .article .paragraph ul li {
	margin-left: 20px;
}

pre, code {
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
	font-size: 0.8em;
	border-radius: 0;
	background-color: #fff2e0;
}

p code {
	padding: 1px 5px;
}

#content #main .article .paragraph p {
	padding-bottom: 12px;
}

#content #main .article .paragraph div.highlighter-coderay {
	padding-bottom: 12px;
}

#content #main .article .paragraph a {
	color: #dc3400;
}

#content #main .article .paragraph img {
	width: 80%;
	margin-left: -1em;
	padding-left: 10%;
	margin-top: 10px;
	margin-bottom: 6px;
}

#content #main .article .paragraph strong {
	font-weight: bold;
}

#content #main .article .paragraph em {
	font-style: italic;
}

#content #main .article .paragraph h1 {
	text-indent: 0;
	font-size: 1.5em;
	padding-top: 8px;
	padding-bottom: 20px;
}

#content #main .article .paragraph h2 {
	text-indent: 0;
	font-size: 1.3em;
	padding-top: 6px;
	padding-bottom: 18px;
}

#content #main .article .paragraph h3 {
	text-indent: 0;
	font-size: 1.1em;
	padding-bottom: 12px;
}

#content #main .article .paragraph h4,
#content #main .article .paragraph h5,
#content #main .article .paragraph h6 {
	text-indent: 0;
	padding-bottom: 12px;
}

#content #main .article table:not(.rouge-table) {
	font-size: 0.9em;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
	padding-bottom: 12px;
}

#content #main .article .paragraph table:not(.rouge-table) tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

#content #main .article .paragraph table:not(.rouge-table) tr:nth-child(2n) {
	background-color: #f6f8fa;
}

#content #main .article .paragraph table:not(.rouge-table) td, th {
	padding: 2px 8px;
	border-top: 1px solid #dfe2e5;
}

#content #main #discuss {
	margin-left: 20px;
	margin-right: 310px;
}

#content #main #discuss .related-lead {
	font-size: 0.9em;
	margin-bottom: 20px;
	margin-left: 10px;
}

#content #main #discuss .related {
	font-size: 0.9em;
	margin-bottom: 28px;
	margin-left: 20px;
}

#content #main #discuss .related li {
	margin-bottom: 9px;
}

#content #main #discuss .related li a {
	color: #dc3400;
}

#content #main #discuss .related li a:before {
	content: '» ';
}

#content #main #discuss .newer {
	color: #454545;
	margin-bottom: 20px;
	float: left;
}

#content #main #discuss .older {
	color: #454545;
	margin-bottom: 20px;
	float: right;
}

#content #main #discuss .newer a {
	color: #dc3400;
}

#content #main #discuss .older a {
	color: #dc3400;
}

#content #main #discuss .comment {
	clear: left;
}

#content #navigation {
	float: right;
	width: 255px;
	margin-top: 20px;
	position: relative;
}

#content #navigation ul {
	padding-bottom: 30px;
}

#content #navigation ul li a {
	display: block;
	padding: 12px 0px 12px 40px;
	margin-left: 15px;
	font-size: 1.2em;
	color: #2373cd;
	cursor: pointer;
}

#content #navigation ul li a:link,
#content #navigation ul li a:visited {
	text-decoration: none;
}

#content #navigation ul li a:hover {
	background: #ffffff;
}

#content #navigation .divider {
	background: #ffffff;
	width: 2px;
	margin-left: -1px;
	position: absolute;
	height: 100%;
}

#content #navigation .divider div {
	background: #ffffff;
	width: 6px;
	height: 6px;
	margin-top: -2px;
	margin-left: -2px;
}

.no-border {
	outline: none;
	border: none;
	-webkit-appearance: none;
}

.no-border:focus {
	outline: none;
	border: none;
	-webkit-appearance: none;
}

.bold {
	font-weight: bold;
}

.no-select {
	cursor: default;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

@media all and (-webkit-min-device-pixel-ratio:2) {
}
