{% include JB/setup %}
<!DOCTYPE html>
<html><head><title>{% if page.title %}{{ page.title }}{% else %}静水铭室 Silent Water and Curved Mountain{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/s/a.css">
<link rel="alternate" type="application/rss+xml" title="静水铭室 RSS Feed" href="{{ site.production_url }}/atom.xml" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% if page.wordpress_id %}
<script type="text/javascript">var disqus_url = '{{ site.production_url }}{{ page.url | url_utf8_escape | downcase }}';</script>
{% else %}
<script type="text/javascript">var disqus_url = '{{ site.production_url }}{{ page.url | url_utf8_escape | downcase }}'; var disqus_identifier = '{{ page.url | url_utf8_escape | downcase }}';</script>
{% endif %}
</head><body>
<div id="container">
<div id="header"><span class="me"><a href="http://facebook.com/liu.ll">Me on Facebook</a></span><span class="title"><a href="/">{{ site.title }}</a>{{ site.subtitle }}</span><div class="divider"><div></div></div></div>
<div id="content"><div id="navigation"><div class="divider"><div></div></div>
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
</div>
<div id="main">{{ content }}</div>
</div><div id="footer"><div><a href="http://facebook.com/liu.ll">Liu Liu</a> @ <a href="http://liuliu.me">liuliu.me</a></div></div></div>
<script type="text/javascript">
	var disqus_shortname = 'liuliu-jsms';
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
	}());
</script>
{% include JB/analytics %}
