<div class="article"><div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div><a href="{{ site.production_url }}{{ page.url | url_utf8_escape | downcase }}#disqus_thread" class="comment-counter" {% unless page.wordpress_id %}data-disqus-identifier="{{ page.url | url_utf8_escape | downcase }}"{% endunless %}>No comment yet<div><div></div></div></a><div class="datetime"><a href="{{ page.date | date: "/%Y/%m" }}">{{ page.date | date_to_human_string }}</a></div><div class="paragraph">{{ page.content | markdownify }}</div></div>
<div id="discuss"><div class="related-lead">Related Posts</div>
{% if site.related_posts.size > 0 %}
<ul class="related">
	{% for post in site.related_posts %}
<li><a href="{{ post.url }}">{{ post.date | date_to_string }}, {{ post.title }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if page.previous %}
<div class="older"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Older &rsaquo;</a></div>
{% else %}
<div class="older">Older &rsaquo;</div>
{% endif %}
{% if page.next %}
<div class="newer"><a href="{{ page.next.url }}" title="{{ page.next.title }}">&lsaquo; Newer</a></div>
{% else %}
<div class="newer">&lsaquo; Newer</div>
{% endif %}
<div class="comment">{% include JB/comments %}</div></div>
